
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}

<br />
<br />
<br />
<!-- ABOUT SECTION -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="page-title">
                    <h2 class="lead">WELCOME TO OUR LAUNDRIES</h2>
                    <p class="Description"</p>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12 col-md-6">
                <div class="about-img">
                    <img src="/Content/images/about_history-u24541-fr.jpg" alt="" class="img-responsive" />
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="about-wrap">
                    <h4 class="title-page">OUR HISTORY</h4>
                    <p>The XYZ(Pvt) Ltd is the pioneer in laundry services in Sri Lanka and is the largest commercial and retail laundry service provider. We have been providing the very best services in Ironing, pressing, and dry cleaning since 2004! We understand that first impressions are everything, and that’s why we’re dedicated to helping you and your garments look and feel the best.</p>
                    <p>Our Laundry Service is a convenient and affordable method of outsourcing.</p>
                    <p>Our steam Pressing Service will give the perfect finished look to your clothes. Not only your clothes pressed well, using some of the best equipment, but they are also carefully packed.</p>
                    <p>Our Dry Cleaning Service is a solvent based washing process, which utilizes advanced chemistry to remove organic & inorganic stains. When it comes to soil removal, our Dry Cleaning Service is one of our most effective cleaning options.</p>
                    <p>We offer a Pick-Up and Delivery service! We want to make your life easier by offering an inclusive service and keep you from running around the city.</p>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="why-item-wrap">
                <div class="col-xs-12 col-md-4">
                    <div class="why-item">
                        <div class="icon">
                            <div class="fa fa-paper-plane-o"></div>
                        </div>
                        <div class="ket">
                            <h4>OUR VISION</h4>
                            <p>One Stop Laundry Business Solution – To be the leading and established brand in the innovative laundry business solution in Our Area</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="why-item">
                        <div class="icon">
                            <div class="fa fa-crosshairs"></div>
                        </div>
                        <div class="ket">
                            <h4>OUR MISSION</h4>
                            <p>To be the Centre of Excellence for laundry Industry...</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="why-item">
                        <div class="icon">
                            <div class="fa fa-leaf"></div>
                        </div>
                        <div class="ket">
                            <h4>OUR STRENGTHS</h4>
                            <li>Door-to-door service</li>
                            <li>Quick and convenient</li>
                            <li>Reasonable prices</li>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

